*~
*.dat
*/data/
*/debug
*.directory                                                                                                                                                                                                                                                                                             
*.gif
*/graingrowth
*/img
*.log
*.out
*.png
